{%extends 'profile/main.html'%}
{% load static %}
{% load bootstrap4 %}
{%block content%}


<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-7" style="font-weight:bold; margin-top:20px; color:skyblue; font-family:serif;">
            <h2 style="font-weight:bold; color:black; font-family:cursive;">{{profile.user}}</h2> <br><br>
            First Name : {{profile.user.first_name}}<br><br>
            Last Name : {{profile.user.last_name}}<br><br>
            email : {{profile.user.email}}<br><br>
            Phone : {{profile.phone_number}}<br><br>
            date : {{user.date_joined}}<br><br>
            add : {{user.add}}<br><br>

        </div>


        <div class="col-lg-3">
            {% if profile.pic_profile %}
            <img src="{{profile.pic_profile.url}}" alt="missing pic" class="rounded-circle" height="200" width="220" style="margin-left:35px;">
            {% endif %}

            <br><br>
            <h4 style="font-weight:bold; color:black; margin-top:0px;  font-family:serif; text-align:center;">{{profile.add}}</h4><br>

            {%endblock content%}
        </div>
</div>
</div>
