{% extends "profile/main.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="ddd">
  {% if form.errors %}
    <p>Your username or password doesn't exists. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="container-fluid">
      <div class="row mt-4">
          <div class="col-lg-6">
            <h2 style="font-weight: bold; color:skyblue; font-family:i; margin-top:60px; margin-left:150px; "> LOGIN TO YOUR
            </h2><h2 style="font-weight: bold; color:skyblue; font-family:i; margin-top:-40px; margin-left:207px;"> <br>ACCOUNT </h2><br><br>
          </div>
          <div class="col-lg-6" style="margin-top:70px; color:skyblue; font-family:i;">
              {% csrf_token %}

              {% bootstrap_form form %}
                {% buttons %}
            <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                  <button type="submit" value="login" class="btn btn-primary btn-lg btn-block">Submit</button>
                </div>
            <br>
                <div class="d-grid gap-2 col-6 mx-auto">
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}" class="btn btn-danger btn-lg btn-block">Lost password</a></p>
                </div>
              {% endbuttons %}
          </div>
      </div>
  </div>
</form>
{% endblock %}


