{% extends "profile/main.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<div class="ddd">
  {% if form.errors %}
    <p>Your username or password doesn't exists. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
</div>


<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
  <div class="container-fluid" style="text-align:center; ">
    <h2 style="font-weight: bold; color:skyblue; "> LOGIN </h2><br><br>

      {% csrf_token %}
      {% bootstrap_form form %}
<!--      <div class="d-flex flex-row-reverse bd-highlight">-->

        {% buttons %}
    <br>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button type="submit" value="login" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    <br>
        <div class="d-grid gap-2 col-6 mx-auto">
            {# Assumes you setup the password_reset view in your URLconf #}
            <p><a href="{% url 'password_reset' %}" class="btn btn-danger btn-lg btn-block">Lost password</a></p>
        </div>
      {% endbuttons %}

  </div>

{% endblock %}
</form>

