{% extends "profile/main.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-3"></div>
        <div class="col-lg-6" style="margin-top:20px; color:skyblue; font-family:i;">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}<br>
                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Change password">
            </form>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock %}