{% extends "profile/main.html" %}
{% block content %}


<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-6" style="font-size:20px; font-weight: bold; margin-top:100px; text-align:center; color:skyblue; font-family:i;">
      <p>We've emailed you instructions for setting your password.
        If they haven't arrived in a few minutes,
        check your spam folder.</p>
    </div>
    <div class="col-lg-3"></div>

</div>
</div>

{% endblock %}