{% extends "profile/main.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="text-align:center; margin-top:80px;">
      <form action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
          <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-primary btn-lg" value="Reset password">
      </form>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
{% endblock %}