{%extends 'profile/main.html'%}
{% load static %}
{% load bootstrap4 %}

<!--{% include 'profile/navbar.html' %}-->
{%block content%}
<div class="container-fluid" style="text-align:center; color:green;margin-bottom:-15px;">
    <h2 style="font-weight: bold;"> SignUp </h2><br>
</div>
<div class="container-fluid">
<form method="post">
    {% csrf_token %}
    {% bootstrap_form forms %}

        {% buttons %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <button type="submit" value="login" class="btn btn-primary btn-lg btn-block">Submit</button>
        </div>
    <br><br><br><br>

    {% endbuttons %}

    {%endblock content%}
</form>
</div>