{%extends 'profile/main.html'%}
{% load static %}

<!--{% include 'profile/navbar.html' %}-->
{%block content%}
<div class="container">
    <h2> SignUp </h2>
</div>
<div class="container-fluid">
<!--    <form method="POST">-->
<!--        {% csrf_token %}-->
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <table class="tak">
                <tr>
                    <td>{{ forms.username.label_tag }}</td>
                    <td>{{ forms.username }}</td>
                </tr>
                <tr>
                    <td>{{ forms.email.label_tag }}</td>
                    <td>{{ forms.email }}</td>
                </tr>
                <tr>
                    <td>{{ forms.password1.label_tag }}</td>
                    <td>{{ forms.password1 }}</td>
                </tr>
                <tr>
                    <td>{{ forms.password2.label_tag }}</td>
                    <td>{{ forms.password2 }}</td>
                </tr>
            </table>
            <input type="submit" value="login" class="buttonsub"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>



<!--        {{forms}}-->
<!--        <input type="submit" value="signup">-->
<!--    </form>-->
</div>
{%endblock content%}