{%extends 'profile/main.html'%}
{% load static %}
{% load bootstrap4 %}

<!--{% include 'profile/navbar.html' %}-->
{%block content%}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-lg-4">
            <div class="container-fluid" style="text-align:center; font-family:i; color:skyblue;margin-bottom:-35px; ">
                <h2 style="font-weight: bold; font-size:50px; margin-left:25px; margin-top:10px;"> SignUp </h2><br>
            </div>
        </div>
        <div class="col-lg-6" style="margin-top:20px; color:skyblue; font-family:i;">
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                    {% buttons %}
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" value="login" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                {% endbuttons %}
        </form>
        </div>

    </div>
</div>
{%endblock content%}

